<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1 class="crud">
        <%= title %>
    </h1>
    <a href="/products/create"><button>Crear Producto</button></a>
    <a href="/products/list"><button>Lista de productos</button></a>
</body>

</html>